.banner {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.banner-img {
    width: auto;
    height: 400px;
    border: 2px solid lightgray;
    border-radius: 25px;
    padding: 5px
};